{%extends 'blog/base.html'%}
{%load static%}
{%block title%}
about me
{%endblock%}
{%block content%}
<div class="text-center rounded-circle">

    <img src="{%static 'images/abdo.jpg' %}" width="290">


    <p> عبد الرحمن مصطفى (commanDo)من مواليد شهر 8 1998 محافظه اسيوط طالب ب كليه الحاسبات والمعلومات
    <br>
        بدأت مشوارى الرياضى فى سن الحاديه عشر لعبت كاراتيه ثم انتقلت الى لعبة كره اليد ومنها انتقلت الى عالم الملاكمه
        <br>
        للتواصل معى ارسل لى رساله على حساب الفيسبوك الموجود فى وسائل التواصل الاجتماعى او تواصل معى عن طريق الهاتف
        <br>
        رقم الهاتق :
        01067106891

    </p>


</div>
{%endblock%}
